.popup__input{
    width: 85%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    padding: 13px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
}