.popup__content {
   width: 358px;
   max-height: 330px;
   border-radius: 10px;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   flex-direction: column;
   position: relative;
   padding: 0 36px 0 36px;
}


@media screen and (max-width: 530px) {
   .popup__content {
       max-width: 282px;
       max-height: 322px;

   }
   
}