.profile__edit-img {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../images/pen.svg");
}

.profile__edit-img:hover{
    opacity: 1;
    background-color:rgba(0,0,0,.5);
    transition: opacity 0.6s;
}