.popup__title{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    margin: 34px 0 0 36px;
}

@media screen and (max-width: 530px) {
    .popup__title {        
        font-size: 18px;
        margin: 25px auto;
    }
    
}